<div class="flex space-x-4 my-2">
  <div [class]="'w-full bg-'+color+'-300'">
    <div [class]="'bg-'+color+'-500 p-2 text-blue-50 text-center'">{{title}}</div>
    <div [class]="'bg-'+color+'-400 p-1 text-blue-50 text-center'">
      {{
        currentLvlIndex == 1
          ? "Procesos"
          :  "Sub Procesos"
      }}
    </div>
    <div class="relative flex space-x-4 p-4" >
      <div
        class="bg-white hover:bg-opacity-25 cursor-pointer rounded-xl p-6 w-full text-center"
        *ngFor="let item of processMap"
        (click)="into(item); onSelected.emit(item)"

      >
        {{ item.title }}
      </div>
    </div>
  </div>
</div>
